; Configuração para possibilitar carregamento de modulos privados Kyte
: Todos os outros modulos passam pelo serviço Artifact do DevOps
; https://docs.microsoft.com/pt-br/azure/devops/artifacts/npm/upstream-sources?view=azure-devops

@kyteapp:registry=https://pkgs.dev.azure.com/KyteLand/Kyte/_packaging/kyte-modules/npm/registry/
kyte-admin-helpers:registry=https://pkgs.dev.azure.com/KyteLand/Kyte/_packaging/kyte-modules/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/KyteLand/Kyte/_packaging/kyte-modules/npm/registry/:username=KyteLand
//pkgs.dev.azure.com/KyteLand/Kyte/_packaging/kyte-modules/npm/registry/:_password=RDlERXNXZ0xrSlZZUnh2SEZoMnFzRkdqMlRvV0pTbjB3c3YyR3RkNTZqd1ZNNHAwZGV4bEpRUUo5OUJKQUNBQUFBQWJDaVYwQUFBU0FaRE9VMGVr
//pkgs.dev.azure.com/KyteLand/Kyte/_packaging/kyte-modules/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/KyteLand/Kyte/_packaging/kyte-modules/npm/:username=KyteLand
//pkgs.dev.azure.com/KyteLand/Kyte/_packaging/kyte-modules/npm/:_password=RDlERXNXZ0xrSlZZUnh2SEZoMnFzRkdqMlRvV0pTbjB3c3YyR3RkNTZqd1ZNNHAwZGV4bEpRUUo5OUJKQUNBQUFBQWJDaVYwQUFBU0FaRE9VMGVr
//pkgs.dev.azure.com/KyteLand/Kyte/_packaging/kyte-modules/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
