<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>1068616619719-q5ic3e4iom9ho8a8lob8o7tm5aie3jf6.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.1068616619719-q5ic3e4iom9ho8a8lob8o7tm5aie3jf6</string>
  <key>ANDROID_CLIENT_ID</key>
  <string>1068616619719-t7vaen0s3309fh26ia1v1u134q19lpp9.apps.googleusercontent.com</string>
  <key>API_KEY</key>
  <string>AIzaSyD2OOwCrDZDhgSo-Vn0_O9BBcN9fhVYftU</string>
  <key>GCM_SENDER_ID</key>
  <string>1068616619719</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.kytepos</string>
  <key>PROJECT_ID</key>
  <string>kyte-7c484</string>
  <key>STORAGE_BUCKET</key>
  <string>kyte-7c484.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <true></true>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:1068616619719:ios:b1eec6bf3bbeed65</string>
  <key>DATABASE_URL</key>
  <string>https://kyte-7c484.firebaseio.com</string>
</dict>
</plist>
