CLARITY_POS_KEY=j6hd0ljlnr
CLARITY_CATALOG_KEY=jn1j44iosf
MIXPANEL_TOKEN=6450089e2b80e9bbf661956a76957ad8
ONESIGNAL_POS_APP_ID=f35ff661-7c76-41ab-b89a-c6c36801b686
ONESIGNAL_CATALOG_APP_ID=860297b6-bd32-471b-a41a-d47b93f920b9
APIM_SUBSCRIPTION_KEY=427ba0315cd54048882c64cdd9094690
API_GATEWAY_BASE_URL=https:/$()/kyte-api-gateway-stage.azure-api.net
API_GATEWAY_DEFAULT_URL=https:/$()/kyte-api-gateway-stage.azure-api.net/api/kyte-app
API_PROMOTION_URL=https:/$()/kyte-api-gateway-stage.azure-api.net/kyte-promotions
API_INTEGRATIONS_GATEWAY_DEFAULT_URL=https:/$()/kyte-api-gateway-stage.azure-api.net/integrations
API_ANALYTICS_KYTE_APP_URL=https:/$()/kyte-api-gateway-stage.azure-api.net/api/backend
API_WEB_GATEWAY_URL=https:/$()/kyte-api-gateway-stage.azure-api.net/api/kyte-web
API_CDN_DEFAULT_URL=https:/$()/kyte-api-stage.kyte.site/api/kyte-app
API_CDN_BASE_URL=https:/$()/kyte-api-stage.kyte.site
KYTE_API_URL=https:/$()/pay.kyte.site
IP_API_URL=https:/$()/pro.ip-api.com
ENV=stage
KYTE_USER_ACCOUNT_URL=https:/$()/kyte-user-account-stage.azurewebsites.net/api
KYTE_DATA_URL=https:/$()/kyte-data-stage.azurewebsites.net/api
KYTE_SENDER_URL=https:/$()/kyte-sender-stage.azurewebsites.net/email
KYTE_STATS_URL=https:/$()/kyte-stats-linux-stage.azurewebsites.net/api
KYTE_AUTH_API=https:/$()/kyte-auth-api-stage.azurewebsites.net
KYTE_ADMIN_API=https:/$()/kyte-admin-services-stage.azurewebsites.net
API_ADMIN_SERVICES_GATEWAY_URL=https:/$()/kyte-api-gateway-stage.azure-api.net/api/kyte-admin-checkout-services
IP_API_KEY=KdXnyqML0nrhyun
APPS_FLYER_DEV_KEY=cYNThyjPzaidcteTWU7foH
AUDIO_TRANSCRIPTION_OPENAI_API_KEY=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
